@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* Bloquear seleção */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --font-montserrat: "Montserrat", serif;
    --darkest-blue: #13506a;
}

#main-icon {
    height: 40px;
}

#main {
    max-width: 100vw;
    display: flex;
    align-items: center;
    margin: 45px 0;
}

.page_title{
    font-size: 27px;
    font-weight: 600;
    margin: 17px 0;
    color: var(--darkest-blue);
    letter-spacing: 1px;
}